:root {
    font-family: "Poppins", sans-serif;
    font-style: normal;

    /* main color scheme */
    /* https://coolors.co/222831-9bdbdf-e6e6e6-31363f */
    --background: #222831;
    --highlights: #9bdbdf;
    --foreground: #eeeeee;
    --text: #282c33;

    /* special colors */
    --error: #c93333;
    --hoveredForeground: #bebebe;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

.header {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    color: var(--highlights);
    background-color: var(--background);
    border-bottom: 2px solid var(--highlights);
    width: 100%;
    margin: 0 0 2em 0;
    top: 0;
}

#homeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10%;
    row-gap: 2em;
    align-items: center;
}

.weatherCard {
    box-sizing: border-box;
    max-width: 20em;
    display: inline-block;
    padding: 1em;
    color: var(--text);
    background-color: var(--foreground);
    font-size: 1em;
    transition: 0.3s;
    border-radius: 1em;
    border: 3px solid transparent;

    img {
        width: 100%;
        height: auto;
    }
}

.weatherCard:hover {
    background-color: var(--hoveredForeground);
    border: 3px solid var(--text);
}