:root {
    font-family: "Poppins", sans-serif;
    font-style: normal;

    /* main color scheme */
    /* https://coolors.co/222831-9bdbdf-e6e6e6-31363f */
    --background: #222831;
    --highlights: #9bdbdf;
    --foreground: #eeeeee;
    --text: #282c33;

    /* special colors */
    --error: #c93333;
    --hoveredError: #ee3c3c;
    --hoveredForeground: #bebebe;
    --hoveredHighlights: #87bcc0;
    --textHint: #979797;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

* {
    box-sizing: border-box;
}

#contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
}

.topHeader {
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    color: var(--highlights);
    background-color: var(--background);
    border-bottom: 2px solid var(--highlights);
    width: 100%;
    margin: 0 0 1em 0;
    top: 0;
}

.sectionContainer {
    width: min(85%, 40em);
    display: flex;
    flex-direction: column;
    row-gap: 0.75em;

    h1 {
        font-size: 1.5em;
        color: var(--highlights);
        padding: 0;
        margin: 0;
    }
}

/* css for search overlay */
#locationSearchOverlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.95);
}

#locationSearchOverlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: var(--foreground);
    border-bottom-left-radius:1em;
    border-top-left-radius:1em;
}

#locationSearchOverlay input[type=text]:hover {
    background: var(--hoveredForeground);
}

#locationSearchOverlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: var(--highlights);
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius:1em;
    border-top-right-radius:1em;
}

#locationSearchOverlay button:hover {
    background: var(--hoveredHighlights);
}

.overlayContainer {
    position: relative;
    top: 25%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
    max-width: 40em;
}

#closeOverlay {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: var(--error);
}

#closeOverlay:hover {
    color: var(--hoveredError);
}

.errorText {
    color: var(--error);
    font-weight: 700;
}

#searchResults {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    list-style-type: none;
    list-style-position:inside;
    background-color: var(--foreground);
    border-radius: 0.5em;
    justify-content: left;
    max-height: 30em;;
    overflow-y: scroll;
}

.searchItem {
    font-size: 1.2em;
    border-radius: 0.5em;
    text-align: left;
    padding: 0.3em 1em;
}

.searchItem:hover {
    background-color: var(--hoveredForeground);
}

.scrollProtect {
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    height: min-content;
    margin-right: 1em;
    border-radius: 0.5em;
}

/* css for stuff inside location container */
.homeContainer {
    width: 100%;
    min-height: 10em;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--foreground);
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;

    p {
        text-align: center;
        font-size: 1.5em;
        padding: 0;
        margin: 0;
        color: var(--textHint);
    }
}

#openOverlay {
    background: var(--background);
    color: var(--foreground);
    border: 1px solid black;
    padding: 0.5em 0.75em;
    font-size: 1.2em;
    border-radius: 0.5em;
    cursor: pointer;
}

#openOverlay:hover {
    background: var(--hoveredForeground);
}

/* css for location elements that have buttons */
.locationElement {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    border-radius: 0.5em;
    border: 2px solid black;
    padding: 0.3em 1em;
}

.locationTitle {
    font-size: 1.5em;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5em;
    padding-bottom: 0.5em;
}

.forecastButton {
    background-color: var(--background);
    border-radius: 0.5em;
    color: var(--foreground);
    padding: 0.5em 0.75em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    cursor: pointer;
}

